body {
    color: #555;
    font-family: 'Hiragino Kaku Gothic Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.container {
    max-width: 980px;
    margin: auto;
}

.title h1.jp {
    font-size: 48px;
}

.title h1 {
    margin:0;
    text-align: center;
}

.banner-block {
    display: inline-block;
}