body {
    color: #555;
    font-family: 'Hiragino Kaku Gothic Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

* {
  box-sizing: border-box;
}

.container {
    max-width: 980px;
    margin: auto;
}

.banner {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 48px 1fr;
    line-height: 1.3;
    margin-bottom: 20px;
}

.banner h1.jp {
    font-size: 48px;
}

.banner h1.en {
    font-size: 30px;
}

.banner h1 {
    margin:0;
    text-align: center;
}

.banner h3 {
    margin:5px 0;
}

.banner-block {
    display: inline-block;
}

.card {
    display: flex;
    flex-direction: row;
    border: 1px solid #555;
    border-radius: 2px;
}

.card-label {
    padding: 20px;
    font-size: 24px;
}

.card-content {
    display: flex;
    flex-direction: row;
}

.vertical {
    writing-mode: vertical-lr;
}

.pill-container {
    flex-wrap: wrap;
}

.pill {
    border-radius: 5px;
    border: 1px solid #555;
    width: 120px;
    height: 60px;
    margin: 10px;
    padding: 10px;
}