body {
    color: #555;
    font-family: 'Hiragino Kaku Gothic Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 980px;
    margin: auto;
}
